<div class="card card-body text-center float-center">
  <h1 class="display-5">GESTOR DE ORDENES DE TRABAJO</h1>
<hr class="my-2" />

<hr class="my-2" />
  
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="/img/tecnologia.jpg" class="d-block mx-auto w-50 imgc" alt="tecnologia">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/soporte.jpg" class="d-block mx-auto w-50 imgc" alt="soporte">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/sp.jpeg" class="d-block mx-auto w-50 imgc" alt="sp">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/tecnologia1.jpg" class="d-block mx-auto w-50 imgc" alt="tecnologia1">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="/img/trabajos2.jpg" class="d-block mx-auto w-50 imgc" alt="trabajos2">
      </div>
    </div>
  </div>

  
</div>