body {
  height: 950px;
  background-image: url("/img/fondo3.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 40%;
}

.bg-black {
  background: #090909;
}

.imgc {
  width: 800px;
}

h3 {
  font-family: 'Nosifer', cursive;
}

.fa-edit{
  color: rgb(255, 208, 0);
}

.fa-file-pdf{
font-size: 30PX;
cursor: pointer;
}

.descripcion ul li {
  display: flex; /* Hace que los elementos se alineen en una fila */
  align-items: center; /* Centra verticalmente los elementos */
}
.descripcion ul li label {
  margin-left: 10px; /* Agrega un espacio entre el checkbox y el texto de la tarea */
}

@media (max-width:768px) {
  
}