{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-5 mx-auto">
  <div class="card">
    <div class="card-header bg-black text-center">
      <h3>EDITAR ORDEN <a href="/notes"><button class="btn btn-danger btn-sm float-end">ATRAS</button></a></h3>
    </div>
    <div class="card-body">
      <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="card-header text-center">STATUS
          <select class="form-select" aria-label="Default select example" id="status" name="status">
            <option disabled selected>No iniciado</option>
            <option value="En proceso">En proceso</option>
            <option value="Finalizado">Finalizado</option>
          </select>
          <button class="btn btn-success w-100 mt-2" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>